<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>

  <body>
    <base href="/dashboard">
    <div growl></div>
    <div layout-fill ui-view></div>
    <% if Rails.env.development? %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% end %>
    <%= javascript_include_tag asset_url("/admin.js") %>
  </body>
</html>
